@{
    ViewData["Title"] = "ReceiveList";
}

<div class="container mt-4">
    <h2 class="text-end">بارگذاری لیست</h2>

    <div class="alert alert-secondary text-end">
        در این بخش می‌توانید فایل اطلاعات بیمه کارکنان خود را بارگذاری کنید.
    </div>

    <div class="alert alert-secondary text-end">
        نمونه فرمت استاندارد فایلی که می‌خواهید ارسال کنید را می‌توانید 
        <a href="#" class="text-primary">اینجا</a> دانلود کنید.
        <br>
        فرمت‌های قابل قبول: <strong>CSV</strong> و <strong>Excel (XLSX)</strong>، حداکثر حجم فایل: ۵ مگابایت.
    </div>


    <h5 class="text-center my-4">لیست بیمه ارسالی برای تاریخ: ۱۴۰۰/۰۳/۱۱</h5>

    <div class="card p-4 mx-auto bg-primary w-50">
        <form method="post" enctype="multipart/form-data" class="text-center">
            <div class="mb-3">
                <label class="form-label fw-bold me-2">فایل:</label>
                <input type="file" class="form-control d-inline-block w-auto" name="uploadedFile" />
            </div>
            <button type="submit" class="btn btn-success fw-bold float-start pl-6">ارسال</button>
        </form>
    </div>

    <div class="text-start mt-3">
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark">بازگشت</a>
    </div>
</div>

